@model Slice.Web.Models.NavigationModel
@using Slice.Web.Models
<nav id="nav">
    <ul class="menu">
        @foreach (MenuItemViewModel item in Model.MainVav.MenuItems)
        {
            if (item.IsCurrent)
            {
            <li class="current">
                <a href="@Html.LocalizeHref(@item.NavigateUrl)" title="@WebUtility.HtmlDecode(item.Tooltip)">@item.MenuText</a>
            </li>
            }
            else
            {
            <li>
                <a href="@Html.LocalizeHref(@item.NavigateUrl)" title="@WebUtility.HtmlDecode(item.Tooltip)">@item.MenuText</a>
            </li>
            }
        }
    </ul>
</nav>
@if (Model.SubNav != null && Model.SubNav.MenuItems.Count > 0)
{
    <nav id="submenuContainer" class="bp-mediumToExtraLarge">
        <ul class="menu">
            @foreach (MenuItemViewModel item in Model.SubNav.MenuItems)
            {
                if (item.IsCurrent)
                {
                <li class="current">
                    <a href="@Html.LocalizeHref(@item.NavigateUrl)" title="@WebUtility.HtmlDecode(item.Tooltip)">@item.MenuText</a>
                </li>
                }
                else
                {                
                <li>
                    <a href="@Html.LocalizeHref(@item.NavigateUrl)" title="@WebUtility.HtmlDecode(item.Tooltip)">@item.MenuText</a>
                </li>
                }
            }
        </ul>
    </nav>
}
