@using Slice.Web.Models
@model FooterViewModel
<div class="footerContainer">
  @foreach (MenuViewModel menu in Model.FooterMenus)
  {
    <nav class="footer-menu">
      <h3>@menu.Title</h3>
      <ul class="footer-menu-links">
        @foreach (MenuItemViewModel item in menu.MenuItems)
        {
          <li>
            <a href="@Html.LocalizeHref(@item.NavigateUrl)" title="@WebUtility.HtmlDecode(item.Tooltip)">@item.MenuText</a>
          </li>
        }
      </ul>
    </nav>
  }
</div>
