@using Slice.Data
@model IEnumerable<SubjectInfoDto>

@foreach (SubjectInfoDto subject in Model)
{
  <li>
    <a href="@Html.LocalizeHref(@subject.UrlAlias)">
      <img src="@Html.FullImageUrl(@subject.ImageUrl)" alt="@subject.Title" title="@subject.Title" />
    </a>
    <h5><a href="@Html.LocalizeHref(@subject.UrlAlias)">@subject.Title</a></h5>
  </li>
}
