@using Slice.Web
@using Slice.Web.Models
@using Slice.Web.Models.Shared
@using Slice.Web.Common
@{
    BundleConfig.RegisterBundles(Model.AssetModel);
}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1" />
    <link href="~/favicon.ico?v=1" rel="shortcut icon" type="image/png" />
    @Styles.Render(BundleConfig.CSSBundles)
    <title>@Model.PageTitle | @WebContext.Current.SiteName</title>
    @if (Model.Metadata != null)
    {
        Html.RenderPartial("_Metadata", (MetadataModel)Model.Metadata);
    }
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/scripts/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    @Scripts.Render(BundleConfig.HeadJSBundles)
    @*  @if (Model.AdManagerModel != null)
        {
          Html.RenderPartial("_AdManager", (AdManagerViewModel)Model.AdManagerModel);
        }*@
</head>
<body style="background-color: @Model.BodyBackgroundColor;">
    <header>
        <div class="headerContainer">
            <a class="site-logo bp-mediumToExtraLarge" href='@Html.LocalizeHref("/")'></a>

            <div class="header-social-container">
                <div id="viewerOptions" class="bp-mediumToExtraLarge language-options">
                    @if (WebContext.Current.IsMultiLanguageSupported && Model.CurrentLanguage != null)
                    {
                        @Html.Partial("_MultiLanguage", (PageViewModelBase)Model)
                    }
                </div>
                @Html.Partial("_SocialLinks", (SocialLinksViewModel)Model.SocialLinks)
            </div>
            <div id="ad-top">
                @{
                    AdUnitViewModel adUnitModel = ((PageViewModelBase)Model).AdManagerModel.AdUnits[0];
                    Html.RenderPartial("_AdUnit", adUnitModel);
                }
            </div>
        </div>
    </header>
    <section class="smalllogo-container">
        <a class="site-logo bp-small" href='@Html.LocalizeHref("/")'></a>
    </section>
    <div id="mobile-toggle">
        <div id="viewerOptions" class="bp-small language-options">
            @if (WebContext.Current.IsMultiLanguageSupported && Model.CurrentLanguage != null)
            {
                <div id="languageOptions">
                    @Html.Partial("_MultiLanguage", (PageViewModelBase)Model)
                </div>
            }
        </div>
    </div>
    @{Html.RenderPartial("_HeaderNavigation", (NavigationModel)Model.HeaderNavigationModel);}
    <div id="main">
        @RenderSection("SubsiteHead", required: false)
        @RenderSection("FullWidthZone", required: false)
        <div id="container">
            <div id="mainwell">
                @RenderBody()
            </div>
            <aside id="rightRail">
                @RenderSection("RightRail", required: false)
            </aside>
        </div>
    </div>
    <footer>
        @{Html.RenderPartial("_Footer", (FooterViewModel)Model.FooterModel);}
    </footer>
    @Scripts.Render(BundleConfig.TailJSBundles)
    @if (Model.EnableTracking)
    {
        Html.RenderPartial("_TrafficTracking");
    }
</body>
</html>
